@page "/"

<html>

    <head>

        <title>Pagina principal</title>
        <link rel="stylesheet" href="~/css/fontello-4b013b32/css/fontello.css" />


    </head>

    <body>

        
<header>

                


@*Css*@
    <style>

        html{
        
            box-sizing: border-box;
        
        }
        
        #barra navbar{
        
            margin: -20px;
            align-items: center;
            background: RGB(254, 189, 89);
            display: flex;
            justify-content: space-between;
            

            
        
        }

        #barra .buscador form{
        
            width: 30rem;
        
        }

        #barra .buscador input{
        
            width: 90%;    
            border-radius: 11px;    
            height: 2rem;    
            font-weight: 600;   
            text-align: center;

        
        }
        #barra p{
        
            font-size: 2rem;    
            width: 30rem
        
        }

        #barra a{
          

            font-size: 6rem;

        
        }
        #datos  {
        
        display: grid;
        align-items: center;
        justify-items: center;
        align-content: center;
        margin-top: 12px;
          text-align: center;
        
        }

        #datos input{


        font-weight: 600;
        
        }



         .precio{
        position: fixed;
        left: 500px;
        top : 100px;
        font-size: 17px;     

        }

        .precio a {
       
        color: black;
        text-decoration: none;
            
        }

        .precio a:hover{

            color:#993366;

        }


        .registro {
          position: fixed;
        left: 1500px;
        top : 70px;
        font-size: 17px;   

                 }

        .registro a {
       
        color: black;
        text-decoration: none;
            
        }

        .registro a:hover{

            color:#993366;

        }




        body .links {
        
            position:fixed;
            left:50px;
        
        
        }
        
         
        .ubicacion {       
        position: fixed;
        left: 950px;
        top : 100px;
        font-size: 17px;                
        }
        .ubicacion a {
       
        color: black;
        text-decoration: none;
            
        }

        .ubicacion a:hover{

            color:#993366;

        }
        .categoria {       
        position: fixed;
        left: 700px;
        top : 100px;
        font-size: 17px;              
        }
        .categoria a {
       
        color: black;
        text-decoration: none;
            
        }

        .categoria a:hover{

            color:#993366;
        }
        .buscados{       
        position: fixed;  
        top: 220px;
        left: 350px;
        }

        .alquilados{
        position: fixed;  
        top: 600px;
        left: 350px;
        }


        .imagen1 {
            position:fixed;
            left: 300px;
            top: 280px;
            height: 200px;
            width: 250px;   
            transition: 1s;
           
            
           
        }
        .imagen1:hover {

           transform: scale(1.3)       
        }
        .imagen2{
            position:fixed;
            left: 500px;
            top: 280px;
            height: 200px;
            width: 250px;    
            transition: 1s;
        }
        .imagen2:hover {

           transform: scale(1.3)       
        }       
        .imagen3{
            position:fixed;
            left: 700px;
            top: 280px;
            height: 200px;
            width: 250px;   
            transition: 1s;
            
        }
        .imagen3:hover {

           transform: scale(1.3)       
        }     
        .imagen4{
            position:fixed;
            left: 1000px;
            top: 280px;
            height: 200px;
            width: 250px;  
            transition: 1s;
        }
        .imagen4:hover {

           transform: scale(1.3)       
        }     
        .imagen5{
            position:fixed;
            left: 300px;
            top: 700px;
            height: 200px;
            width: 250px;   
            transition: 1s;
        }
        .imagen5:hover {

           transform: scale(1.3)       
        }     
        .imagen6{
            position:fixed;
            left: 600px;
            top: 700px;
            height: 200px;
            width: 250px; 
            transition: 1s;
            
        }
        .imagen6:hover {

           transform: scale(1.3)       
        }    
        

        .imagen7{
            position:fixed;
            left: 900px;
            top: 700px;
            height: 180px;
            width: 250px; 
            transition: 1s;
            
        }
        .imagen7:hover {

           transform: scale(1.3)       
        }    
        



    </style>


            
                


            


                



           

<section id="barra">
    

    
    <navbar>


     <br/> 

<p><b>¡Alquiler por 2 pesos! </b> </p>

  

<div class="buscador"> 
<form >

    <input type="search" placeholder="buscar alquiler">
 
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="width: 2rem;"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
  </svg>
</form> 
</div>



<section id="datos">

     <center>
         <b>¡iniciar sesion! </b>
         <p></p>
<input id="emaildelogin" type="search" placeholder="Email">

<p></p>
<input type="password" placeholder="Contraseña" >

 </center>
</section>


 
</navbar>



</section>

   <div class="registro">
    
<a href="https://localhost:7229/registrarse">Registrarse</a>
</div>


<div class="container">

 <div class="links">

    <div class="precio">
    <a href="">Precio</a>

    </div>

    <div class= "ubicacion">

       <a href="/"><p> Ubicacion</p></a>

    </div>

    <div class= "categoria">

       <a href="/"> <p> Categoria / Rubro</p></a>
       
    </div>
    
</div>
    


    <div class=" buscados">

        <p> <b>Productos mas buscados</b></p>


    </div>

    <div class=" alquilados">

       <p><b>Productos mas alquilados</b></p>


    </div>
    




    <div class="imagen">
    <img class="imagen1" src="https://farmacityar.vteximg.com.br/arquivos/ids/215748-600-600/224617_edp-cher-dieciocho-x-100-ml_imagen-2.jpg?v=637690357333730000" />
    </div>


    <div class="imagen">
               
        <img class="imagen2" src="https://d3ugyf2ht6aenh.cloudfront.net/stores/157/089/products/f56ec9a0-bc1c-494d-bd4c-f14e9384c6d51-b59d6e588ec0a3087016297369180471-1024-1024.jpg" />
    </div>

    <div class="imagen">
    <img class="imagen3" src="https://arcencohogar.vtexassets.com/arquivos/ids/296136-500-auto?v=637665756194070000&width=500&height=auto&aspect=true" />
    </div>

    <div class="imagen">
    <img class="imagen4" src="https://acroadtrip.blob.core.windows.net/catalogo-imagenes/m/RT_V_3b324cb695a947bbbe967883917456dc.jpg" />
    </div>

    <div class="imagen">
    <img class="imagen5" src="https://coppelar.vtexassets.com/arquivos/ids/1565409/198_60f21f17eed0b.jpg?v=637631637228870000" />
    </div>

    <div class="imagen">
    <img class="imagen6" src="https://pintureriasagitario.com.ar/wp-content/uploads/2020/08/CSL1500.jpg" />
    </div>

    <div class="imagen">
           
        <img class="imagen7" src="https://autorentbariloche.com.ar/wp-content/uploads/chevrolet_onix.png" />     
    
    </div>

</div>
 </header>

</body>

    
</html>

@code {

}
