
@page "/prueba"
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="Prueba.razor.css" />

</head>
<body>

 <header>

     <div class="container">

         <p class="logo">Programa ya</p>
         <nav>

             <a href="#">Sobre nosotros</a>
             <a href="#">Nuestros programas</a>
             <a href="#">Caracteristicas</a>
         </nav>
     </div>

     <section id = "hero"> 
         
        <h1> Aprende a Programar <br/>con los mejores </h1>

        <form action="https://www.google.com/">
        <button>APLICA YA!</button>
        </form>
     </section>
      
     <section id="somos-proya">

         <div class="container">

         <div class="img-container" ></div>
         <h2>PROGRAMA YA!</h2>
          
         <p>¿Fanático del Xeneize? Enterate todas las noticias de Boca Juniors a través de TyC Sports. Seguí nuestra página en Facebook o Google News. También
             podés registrarte gratis e indicar tus preferencias para recibir notificaciones en tu browser o bajate nuestra APP
             (disponible en Android & iOS). Accedé a todas las estadísticas de La liga profesional del fútbol Argentino.</p>


        </div>
     </section>
     
     <section id="nuestros-programas">

         <div class="container">
         <h2>Nuestros Programas</h2>

         <div class="carta">

             <h3>Programador Front-End</h3>
             El atributo global lang participa en la definición del lenguaje del elemento , el lenguaje en que están escritos los elementos no editables 
             o el lenguaje en el cual los elementos editables deberían de estar escritos


             <button>+ info</button>
             
         </div>

         <div class="carta">

             <h3>Programador Full-Stack</h3>

             El atributo global lang participa en la definición del lenguaje del elemento , el lenguaje en que están escritos los elementos no editables 
             o el lenguaje en el cual los elementos editables deberían de estar escritos

             <button>+ info</button>
             

         </div>

         <div class="carta">

             <h3>Programador Python</h3>

             El atributo global lang participa en la definición del lenguaje del elemento , el lenguaje en que están escritos los elementos no editables 
             o el lenguaje en el cual los elementos editables deberían de estar escritos

             <button>+ info</button>

         </div>
         </div>



     </section>

     <section id="caracteristicas">
     
     <div class="container">
     <ul>
         <li>✔ 100% online </li>
         <li>✔ Flexibilidad de horarios</li>
         <li>✔ Soporte 1:1</li>
         <li>✔ Asistencia financiera </li>
     </ul>
    </div>
    </section>

    <section id="aplica-ya">

        <h2>Listo para programar?</h2>

        <form action="https://www.google.com/">

        <button>Aplica ya!</button>
        </form>
    </section>

    

</header>

    <div class="container">

    <footer>© ProgramaYa 2021</footer>

    </div>

</body>

</html>
@code {

}
