<head>
    <title>Registrar Usuario</title>
    @page "/holaa"
</head>
<body>
    <navbar style="margin: 0px;align-items: center;background: RGB(254, 189, 89);display: flex;justify-content: space-between;"><a style="
    font-size: 6rem;
">=</a><p style="
    font-size: 2rem;
    width: 8rem;
">alquiler a 2 pesos</p>
<form style="width: 29rem;"><input type="search" placeholder="buscar alquiler" style="
    width: 90%;
    border-radius: 11px;
    height: 2rem;
    font-weight: 600;
    text-align: center;
"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="width: 2rem;"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path></svg></form> 

<form style="
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-top: 12px;
"><input id="emaildelogin" type="search" placeholder="Email" style="
    font-weight: 600;
">
<input type="password" placeholder="Contraseña" style="
    font-weight: 600;
"></form></navbar>
</body>
<div style="
display:flex">
    </div>








<div style="display: block;"><h2 style="text-align: center;font-size: 37px;">Registrar Cliente</h2><br><br>

<br>
<label style="width: 5rem;">Nombre</label>
<input type="text" style="
    width: 21rem;
">
<br>
<br><label style="
    width: 5rem;
">Apellido</label><input type="text" style="
    width: 342px;
"><br>
<br><br><label style="
    width: 9rem;
">Tipo de Documento</label>
<input type="text" style="
    width: 17rem;
">

<br><br><label style="
    width: 9rem;
">N° Documento</label><input type="text" style="
    width: 279px;
"><br>
<br>
<br>
<br>
<labe>Medios de Contacto</labe><br>
<br>
<br>
<br>
<labe style="">Telefono</labe><input type="text" style="
    width: 361px;
"><br><br><labe style="
">Email</labe>


<input type="text" style="
    width: 377px;
">
<label style="position: fixed;top: 303px;left: 612px;">Ingrese una contraseña</label><input type="text" style="position: fixed;top: 299px;left: 816px;">
<label style="
    position: fixed;
    top: 360px;
    left: 613px;
">Repetir contraseña</label><input type="text" style="
    position: fixed;
    top: 356px;
    left: 815px;
"><label style="
    position: fixed;
    top: 492px;
    left: 612px;
">Domicilio</label>
<label style="
    position: fixed;
    top: 557px;
    left: 614px;
">Provincia</label>
<label style="
    position: fixed;
    top: 623px;
    left: 622px;
">Barrio</label>
<label style="
    position: fixed;
    top: 688px;
    left: 624px;
">Piso</label>
<labe style="
    position: fixed;
    top: 744px;
    left: 605px;
">Referencia</labe>
<input type="text" style="
    position: fixed;
    top: 553px;
    left: 697px;
">
<input type="text" style="
    position: fixed;
    top: 620px;
    left: 696px;
">
<input type="text" style="
    position: fixed;
    top: 686px;
    left: 695px;
">
<input type="text" style="
    position: fixed;
    top: 739px;
    left: 695px;
">

</div>





@code {

}
